/* ::::: http://adammartinique.fr/misc/drupal.css ::::: */

img { border: 0px none; }
table { border-collapse: collapse; }
.breadcrumb { padding-bottom: 0.5em; }
/* ::::: http://adammartinique.fr/modules/opt/image/contrib/image_gallery/image_gallery.css ::::: */

ul.galleries { list-style-type: none; margin: 0px; padding: 0px; }
ul.galleries li { background: none repeat scroll 0% 0% rgb(238, 238, 238); border: 1px solid rgb(204, 204, 204); margin: 1em 0px; padding: 1em; }
ul.galleries li img { float: left; padding-right: 4px; margin-right: 4px; }
ul.galleries h3 { margin: 0px; padding: 0px; }
/* ::::: http://adammartinique.fr/themes/chameleon/common.css ::::: */

a, a:link, a:active { font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }
body { margin: 0px; padding: 3em; font-size: 0.9em; line-height: 1.3em; }
table { margin: 0px; padding: 0.5em; border-collapse: collapse; }
li { padding-bottom: 0.3em; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 0.25em; }
h1 { font-size: 1.3em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.1em; }
p { margin: 0px 0px 0.5em; }
br { line-height: 0.6em; }
#header { margin-bottom: 2em; }
#content { clear: both; }
#main { padding-left: 1em; padding-right: 1em; vertical-align: top; }
#footer { font-size: 0.8em; padding-top: 2em; text-align: center; }
.title { margin: 0px 0px 0.25em; }
.navlinks { padding: 0em 0.5em 1.5em 0em; clear: both; }
.primary a { font-size: 1em; padding: 0em 0.5em 0em 0em; }
.secondary a { font-size: 0.9em; padding: 0em 0.5em 0em 0em; }
#header img { float: left; padding: 0em 2em 0.5em 0em; }
#header { clear: both; }
/* ::::: http://adammartinique.fr/themes/chameleon/style.css ::::: */

a, a:link, a:active { color: rgb(153, 51, 0); }
a:visited { color: rgb(102, 51, 0); }
body { padding: 5em 0px 0px 3em; background-image: url('background.png'); background-repeat: repeat-x; font-family: trebuchet ms,tahoma,verdana,arial,helvetica; border-top: 10px solid gray; }
ul { list-style-type: disc; }
#main { width: 100%; }
#header .title { font-size: 2em; font-weight: bold; padding-top: 0.75em; }
#header .title a, #header .title a:link, #header .title a:visited, #header .title a:active { text-decoration: none; color: rgb(170, 170, 170); }
#header .title a:hover { color: rgb(153, 51, 0); }
#header .site-slogan { margin-top: -0.1em; font-size: 0.8em; }
